@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Ant Design - Vertically centres the arrow on the antd collapse */
.ant-collapse-header {
  display: flex !important;
  align-items: center !important;
}

/* Used to make the ugly navbar nice */
::-webkit-scrollbar {
  width: 25px;
  height: 25px;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.2);

  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: #808080;

  background-clip: padding-box;
  border: 9px solid rgba(0, 0, 0, 0);

  min-height: 30px;

  transition: 0.3s all ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #646464;
  background-clip: padding-box;
  border: 9px solid rgba(0, 0, 0, 0);
}

/* Used to grey out an element, indicating that it's corresponding entity is archived */
.archived {
  -webkit-filter: grayscale(1);
}

/* Used to visually emphasize that certain elements are selectable */
.selectable {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.selectable:hover {
  @apply bg-gray-100;
}

/* Combines a few tailwind classes to create a consistent border */
.grey-border {
  @apply border border-solid border-gray-200;
}
